/* CSS RESET */

html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
ul{list-style:none}
button,input,select,textarea{margin:0}
html{box-sizing:border-box}
*,*:before,*:after{box-sizing:inherit}
img,video{height:auto;max-width:100%}
iframe{border:0}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0;text-align:left}
a{text-decoration: none;}


.clearboth {
   clear: both;
}
#page{
   background: #F5FFFA;
   background-image: url(img/compas1.png);
   background-size: 85% 85%;
   background-repeat:no-repeat;
   background-position: bottom 10px right 100px;;
}
#page, li, a {
   font-family: Ubuntu, B612,"Work Sans", sans-serif;
   color: #8a4000 ;
}
a:hover{
   color: #24445c; 
}

#page{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100vw;
   height: 100vw;


}
header>div.baniere>span{
   font-family: Ubuntu, B612,"Work Sans", sans-serif;
   color: #8a4000 ;
}
footer>p{
    font-family: Ubuntu, B612,"Work Sans", sans-serif;
   color: #8a4000 ;
}

/*HEADER*/

header{
   display: flex;
   flex-direction: column;
   width:  inherit ;

}

/*Banière*/
header>div.baniere{
   display: flex;
   flex-direction: column;
   height: 5.8vw;
   text-shadow: 2px 1px 1px #582900;
}
header>div.baniere>span{
   display: flex;
   flex-direction: row;
   justify-content: center;
   height: inherit;
   align-items: center;
   font-size: 2.5em;
}

/*Navigation*/
header>nav.navigation{
   display: flex;
   flex-direction: row;
   height: 7vw;
   font-size: 1.2em;
   background-color: #d9dfd8;
   box-shadow: 1px 1px 1px #582900;
}

header>nav.navigation>ul{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   flex-grow: 1;
   align-items: center;
   justify-content: space-around;

}
header>nav.navigation>ul>li{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   color: orange;

}

header>nav.navigation>ul>li>a{
   display: flex;
   flex-direction: column;
   text-align: center;
   text-decoration: none;
}
header>nav.navigation>ul>li>a>span{
   display: flex;
   flex-direction: column;
   text-align: center;
}

/*FIN HEADER*/

/*MAIN*/
main{
   display: flex;
   flex-direction: column;
   flex-grow:1;
}

/*Chemin*/
main>div.chemin{
   display: flex;
   flex-direction: row;
   justify-content: center;
   height: 3.5vw;
   width: 25vw;
}

main>div.chemin>a{
   display: flex;
   flex-direction: row;
   align-items:  center;
   height: inherit;
}


/*main*/

main>div.main{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   min-height: 79.7vw;
}


/*Catégorie*/
main>div.main>div.contenu{
   display: flex;
   flex-direction: column;
   width: 80vw;
   height:60vw;
   justify-content: space-around;
   align-self: center;
}

main>div.main>div.contenu>ul{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: inherit;
}
main>div.main>div.contenu>ul>li.cat{
   display: flex;
   flex-direction: column;
   text-indent: -20vw;
   margin-bottom: 1vw;
   margin-top: 1vw;
   font-weight: bold;


}

main>div.main>div.contenu>ul>ul{
   display: flex;
   flex-direction: column;
   margin-bottom: 1vw;
   height: inherit;

}
main>div.main>div.contenu>ul>ul>li{
   display: flex;
   flex-direction: column;
   margin-bottom: 1vw;
}

/*Bare Latérale*/
main>div.main>div.bareLaterale{
   display: flex;
   flex-direction: column;
   align-items:  flex-start;
   width: 20vw;
   height:60vw;
   align-self: center;
   justify-content: space-around;

}
main>div.main>div.bareLaterale>ul.dernierSujet{
   display: flex;
   flex-direction: column;
   margin-top: -15vw;

}
main>div.main>div.bareLaterale>ul.dernierSujet>li>a{
   display: flex;
   flex-direction: column;
   margin-bottom: 1vw;
}

main>div.main>div.bareLaterale>ul.listeRegion{
   display: flex;
   flex-direction: column;
}

main>div.main>div.bareLaterale>ul.listeRegion>li>a{
   display: flex;
   flex-direction: column;
   margin-bottom: 1vw;
}


/*FOOTER*/

footer{
   display: flex;
   flex-direction: row;
   width: 100vw;
   height: 4vw;
   align-items: center;
}
footer>p{
   align-items: flex-start;
   width: inherit;
   font-size: .8em;
}

/*FIN MAIN*/